/* Style Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

/* Typography */
h1 {
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3rem;
  margin: 2.5rem 0;
}

p {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Components */
.product-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  display: flex;
  min-height: 45rem;
  margin: 5rem auto;
  overflow: hidden;
  width: 60rem;
}

.product-card__img {
  min-width: 50%;
  overflow: hidden;
}

.product-card__img--desktop {
  display: block;
  height: 100%;
  width: 100%;
}

.product-card__img--mobile {
  display: none;
  height: 100%;
  width: 100%;
}

.product-card__info {
  padding: 3.5rem;
}

.product-card__type {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.product-card__price {
  align-items: center;
  display: flex;
}

.product-card__price--now {
  color: hsl(158, 36%, 37%);
  padding-right: 1rem;
}

.product-card__price--was {
  text-decoration: line-through;
}

button {
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 100%;
}

button:hover {
  background-color: hsl(159, 39%, 19%);
  cursor: pointer;
}

button > img {
  padding-right: 1rem;
}

@media (max-width: 375px) {
  .product-card {
    flex-direction: column;

    width: 90%;
  }

  .product-card__img {
    height: 25rem;
    width: 100%;
  }

  .product-card__img--desktop {
    display: none;
  }

  .product-card__img--mobile {
    display: block;
  }

  .product-card__info {
    padding: 2.5rem;
  }
}
